.myLeafletMap {
    width: auto;
    height: 400px;
    /*border:2px solid #43a934;*/
}
.myLeafletMap .leaflet-control-attribution a {
    text-decoration: none;
    color: #0078A8;
    border: 0;
}
.myLeafletMap .leaflet-control-attribution img { display: inline; }
.myLeafletMap a.leaflet-control-layers-toggle { border: 0; }
.myLeafletMap .leaflet-bottom,
.myLeafletMap .leaflet-top {z-index: 5;}
.myLeafletMap .leaflet-control-layers label {
    cursor: pointer;
    padding: 3px;
}
.myLeafletMap .leaflet-control-layers label:hover {
    background-color: #d1e2ca;
}
.myLeafletMap .leaflet-control-zoom a {
    text-decoration: none;
    color: inherit;
}
.myLeafletMap .leaflet-control { padding: 0; }
.myLeafletMap .leaflet-control-layers-list {
    background-color: #efefef;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
.myLeafletMap .leaflet-popup-content strong { font-size: 1.2em; }
.myLeafletMap .leaflet-popup-content a { text-decoration: underline !important; }
.myLeafletMap .leaflet-popup-content a::before { content: "↪ "; }

.myLeafletMap .leafletMarker {
    width: 25px;
    height: 41px;
    background: transparent url(marker-icon.png) 0 0 no-repeat;
}
.myLeafletMap .leafletMarker:hover { background-image: url(marker-icon-hover.png); }
