html {
    min-height: 100%;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
   /* iPhone portrait>landscape textzoom off */
}
body {
    background: #ffffff;
    margin: 0;
}
.containerIA * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerIA img {
    border: 0;
    display: block;
    max-width: 100%;
}
.containerIA h1 {
    font-size: 2em;
    line-height: normal;
    display: inline;
}
.containerIA h3 {
    font-size: 1.2em;
    line-height: normal;
}
.containerIA h1 small {
    font-size: 0.7em;
    font-weight: normal;
}
.containerIA ul {
    text-align: left;
    margin: 0 0 1.3em 0;
}
.containerIA ul li {
    list-style-type: none;
    position: relative;
    left: 1.3em;
    width: calc(100% - 1.3em);
}
.containerIA ul li::before {
    content: "\276F";
   /* ➤ \27A4
   • \2022
   ‧ \2027
   ‣ \2023
   › \203A
   ❯ \276F
   · \00B7
   ☑ \2611
   ✓ \2713
   ✔ \2714
   ■ \25A0 */
    color: #286090;
    position: absolute;
    left: -1.3em;
    top: 0;
}
/* .containerIA ul ul {
   margin-bottom: 0;
}
.containerIA ul ul li {
   padding-left: 1.3em;
}
.containerIA ul ul li::before {
    content: "\02022";
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
}
*/
.containerIA a {
    color: darkblue;
    text-decoration: underline;
    font-weight: inherit;
}
.containerIA a:hover {
    color: red;
    text-decoration: underline;
}
.containerIA a[href ^="mailto"], .containerIA a[href ^="tel"] {
    white-space: nowrap;
}
.containerIA address {
    font-style: normal;
}
.containerIA .tabContent p {
    margin-bottom: 1em;
}
.containerIA .tabContent p:last-child {
    margin-bottom: 0;
}
.containerIA header img {
    width: 100%;
    height: auto;
}
.containerIA footer {
    background-color: #f0f0f0;
    margin-top: 1.5em;
}

.containerIA {
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 0;
    color: #303030;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.3em;
    text-shadow: none;
    background: white;
    position: relative;
    hyphens: manual;
}

.containerIA .title {
    margin: 1em 0;
}
.containerIA .tabContent {
    margin: 1.5em 0 0 0;
}
.containerIA .leftColumn {
    float: left;
    width: 48%;
}
.containerIA .rightColumn {
    float: right;
    width: 48%;
}
.containerIA .cf::after {
    clear: both;
    display: block;
    content: "";
}
.containerIA .nowrap, .containerIA .nobr {
    white-space: nowrap;
}

.containerIA #navigation {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #ecedf5;
}
.containerIA #navigation button {
	flex: 1 1 auto; /* for equally shared leftover space between buttons */
	align-self: stretch;
	white-space: nowrap;
	border: 1px solid #d7daf5;
    box-sizing: border-box;
    padding: .7em 2%;
    color: #505050;
    background-color: inherit;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background .6s ease;
    overflow: visible; /* IE 11 bugfix */
}

.containerIA #navigation button:hover {
    background-color: #d3dae9;
}
.containerIA #navigation button.active {
    background-color: #a0abc8;
    color: #fff;
}
.containerIA #navigation button:focus {
    outline-style: none; /* Webkit */
}
.containerIA #navigation button::-moz-focus-inner { border: 0; }

.containerIA #sitemap button {
    border: 0;
    display: block;
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.containerIA #sitemap button:hover { text-decoration: underline; }
.containerIA #sitemap button::-moz-focus-inner { border: 0; }

/* -=-= MOBILE SPECIFIC FORMATTING =-=- */

.containerIA.mobile {
    border: none;
}

.containerIA.mobile .tabContent {
    display: block !important;
}

.containerIA.mobile #navigation button.active {
    background-color: inherit;
    color: inherit;
}

.containerIA.mobile .mobile-hidden {
    display: none;
}

.containerIA.mobile .leftColumn,
.containerIA.mobile .rightColumn {
    float: none;
    width: auto;
}

@media screen and (max-width: 480px) {

}

@media print {
    .containerIA  #navigation {
        display: none !important;
   }
    .containerIA .tabContent {
        display: block !important;
   }
    .containerIA {
        border: none;
   }
    .containerIA .noprint {
        display: none;
   }
}
