/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
 */
 html {
    min-height: 100%;
    -webkit-text-size-adjust: none;
   /* iPhone portrait>landscape textzoom off */
}
body {
    background: #ffffff;
    margin: 0;
}
.containerIA * {
    margin: 0;
    padding: 0;
}
.containerIA img {
    border: 0;
    display: block;
    max-width: 100%;
}
.containerIA h1 {
    font-size: 2em;
    line-height: normal;
    display: inline;
}
.containerIA h3 {
    font-size: 1.2em;
    line-height: normal;
}
.containerIA h1 small {
    font-size: 0.7em;
    font-weight: normal;
}
.containerIA ul {
    text-align: left;
    margin: 0 0 1.3em 0;
}
.containerIA ul li {
    list-style-type: none;
    position: relative;
    left: 1.3em;
    width: calc(100% - 1.3em);
}
.containerIA ul li::before {
    content: "\025A0";
   /* ➤ \027A4 • \02022 ‧ \02027 ‣ \02023 › \0203A ❯ \0276F · \000B7 ☑ \02611 ✓ \02713 ✔ \02714 ■ \025A0 */
    color: #286090;
    position: absolute;
    left: -1.3em;
    top: 0;
}
/* .containerIA ul ul {
   margin-bottom: 0;
}
.containerIA ul ul li {
   padding-left: 1.3em;
}
.containerIA ul ul li::before {
    content: "\02022";
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
}
*/
.containerIA a {
    color: darkblue;
    text-decoration: underline;
    font-weight: inherit;
   /* Monster mobile Redux bugfix */
    hyphens: manual;
}
.containerIA a:hover {
    color: red;
    text-decoration: underline;
}
.containerIA a[href ^="mailto"], .containerIA a[href ^="tel"] {
    white-space: nowrap;
}
.containerIA address {
    font-style: normal;
    margin: 1.2em 0 0 0;
}
.containerIA .tabContent p {
    margin-bottom: 1em;
}
.containerIA .tabContent p:last-child {
    margin-bottom: 0;
}
.containerIA header img {
    width: 100%;
    height: auto;
}
.containerIA footer {
    background-color: #f0f0f0;
    margin-top: 1.5em;
}

.containerIA {
    max-width: 900px;
    margin: 0 auto;
    border: 0;
    color: #303030;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.3em;
    text-shadow: none;
    background: white;
    position: relative;
    hyphens: manual;
}
.containerIA.mobile {

}
.containerIA .title {
    margin: 1em 0;
}
.containerIA .tabContent {
    margin: 1.5em 0 0 0;
}
.containerIA .leftColumn {
    float: left;
    width: 48%;
}
.containerIA .rightColumn {
    float: right;
    width: 48%;
}
.containerIA .cf::after {
    clear: both;
    display: block;
    content: "";
}
.containerIA .nowrap, .containerIA .nobr {
    white-space: nowrap;
}

.containerIA #screenShade {
    display: none;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.containerIA #navigation {
    display: block;
}
.containerIA #navigation::after {
    clear: both;
    display: block;
    content: "";
}
.containerIA #navigation button {
    float: left;
    border: 0;
    border-left: 2px solid white;
    box-sizing: border-box;
    width: calc(100% / 4);
    padding: .7em 2%;
    background-color: #ecedf5;
    color: #505050;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background .6s ease;
   /* mobile redux fixes: */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: normal;
    line-height: inherit;
}
.containerIA #navigation button:first-child {
    border-left-width: 0;
}
.containerIA #navigation button:hover {
    background-color: #dde2ed;
}
.containerIA #navigation button.active {
    background-color: #a0abc8;
    color: #fff;
}
.containerIA #navigation button:focus {
    outline-style: none;
   /* Webkit fix */
}
.containerIA #navigation button::-moz-focus-inner {
    border: 0; /* Firefox fix */
}

/* MOBILE NAVIGATION */
.containerIA.mobile #navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 50px);
    display: none;
    z-index: 100;
}
.containerIA.mobile #navigation button {
    width: 100%;
    height: auto;
    min-height: 43px;
    margin: 0;
    padding: 12px 60px 10px 20px;
    border: none;
    border-bottom: 1px solid #efefef;
    background-color: #dadada;
    color: #707070;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.containerIA.mobile #navigation button:hover {
    background-color: #dadada;
    background-image: none;
    border: 0;
    color: #fff;
}
.containerIA.mobile #navigation button.active {
    background-color: #909090;
    background-image: none;
    color: #fff;
    border: 0;
    border-left: 8px solid #fff;
    font-weight: 700;
}

.containerIA #mobileButtonWrapper {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    box-sizing: content-box;
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: none;
}
.containerIA.mobile #mobileButtonWrapper {
    display: block;
}
.containerIA #mobileButton {
    box-sizing: content-box;
    border-bottom: 4px solid #e0e0e0;
    transition: all 0.3s;
    position: relative;
}
.containerIA #mobileButtonWrapper:hover #mobileButton, .containerIA #mobileButtonWrapper:hover #mobileButton::before, .containerIA #mobileButtonWrapper:hover #mobileButton::after {
    border-bottom-color: #fff;
    background-color: #fff;
}
.containerIA #mobileButton::before {
    content: "";
    position: absolute;
    transition: all 0.3s;
    background-color: #e0e0e0;
    height: 4px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: 10px;
}
.containerIA #mobileButton::after {
    content: "";
    position: absolute;
    transition: all 0.3s;
    background-color: #e0e0e0;
    height: 4px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: 20px;
}
.containerIA #mobileButton.pressed {
    border: 0;
}
.containerIA #mobileButton.pressed::before {
    transform: rotate(45deg);
    margin-top: 10px;
}
.containerIA #mobileButton.pressed::after {
    transform: rotate(-45deg);
    margin-top: 10px;
}


@media screen and (max-width: 640px) {
    .containerIA {
        border: none;
   }
    .containerIA .leftColumn, .containerIA .rightColumn {
        float: none;
        width: auto;
   }
    .containerIA .mobile-hidden {
        display: none;
   }
}

@media print {
    .containerIA  #navigation {
        display: none !important;
   }
    .containerIA .tabContent {
        display: block !important;
   }
    .containerIA {
        border: none;
   }
    .containerIA .noprint {
        display: none;
   }
}
